.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.6;
  color: #333; /* Dunkelgrau für den Haupttext */
  background-color: #eee; /* Leichter Hintergrund für die gesamte Seite */
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Buttons und Download-Button am Anfang und Ende der Toolbar */
  align-items: center;
  background-color: #333; /* dunkler Hintergrund wie im Screenshot */
  padding: 8px;
}

.button-container {
  display: flex;
  align-items: center; /* Buttons vertikal zentrieren */
}

.toolbar button {
  background: none;
  color: white; /* weiße Icon-Farbe */
  border: none;
  margin-right: 5px; /* geringer Abstand zwischen den Buttons */
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #555; /* leichter Hover-Effekt */
}
.toolbar button {
  background: none;
  color: white; /* weiße Icon-Farbe */
  border: none;
  margin-right: 5px; /* geringer Abstand zwischen den Buttons */
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #555; /* leichter Hover-Effekt */
}
.editor-preview-container {
  display: flex;
  height: calc(100% - 40px); /* Passt die Höhe an die Toolbar-Höhe an */
}

.editor, .preview {
  flex: 1;
  height: auto;
  overflow-y: auto;
}

.editor {
  border-right: 1px solid #ccc;
}

.preview {
  padding-left: 20px; /* Sorgt für etwas Abstand zwischen Editor und Vorschau */
}

/* App.css */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrund mit leichter Transparenz */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background-color: #fff;
  /* border-radius: 8px; */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-top: 0;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end; /* Buttons am rechten Rand ausrichten */
  margin-top: 20px;
}

.modal-buttons button {
  margin-left: 10px;
}

.modal-buttons button:first-child {
  margin-left: 0; /* Kein Abstand für das erste Button-Element */
}
.app-footer {
  background-color: #0078D7; /* Blaue Farbe, wie im Screenshot */
  color: white;
  text-align: left; /* Text links ausgerichtet */
  padding: 10px 20px; /* Zusätzliches seitliches Padding, um sicherzustellen, dass der Text nicht abgeschnitten wird */
  position: fixed;
  bottom: 0;
  height: 15px;
  width: 100%;
  font-size: 1em; /* Angepasste Schriftgröße, damit sie besser lesbar ist */
  box-shadow: 0 -1px 5px rgba(0,0,0,0.2); /* Leichter Schatten, um den Text besser abzuheben */
  display: flex;
  justify-content: space-between; /* Sorgt für Abstand zwischen den Textblöcken */
  align-items: center;
}

/* Zusätzliche Klassen für die spezifischen Inhalte könnten notwendig sein, um sie zu positionieren. */
.footer-right {
  margin-right: 30px; /* Füge rechts einen Margin hinzu, um sicherzustellen, dass der Text sichtbar ist */
}

/* Optional: Füge eine Mindestbreite hinzu, damit der Text nicht zusammengedrückt wird */
.footer-left, .footer-right {
  min-width: 100px;
}
